@import 'src/common/global';

.paginator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;

    &__holder {
        width: 100%;
        text-align: center;
    }
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 4rem;

    &__button {
        background-color: burlywood;
    }
}